{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Bienvenue sur mon super blog</h1>
    <h2>Vous retrouverez plein de super articles sur le dev !</h2>
{% endblock %}
