body {
    background-color: lightgray;
}

.margin-top-10 {
    margin-top: 10%;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-10 {
    margin-bottom: 10%;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.border-dark {
    border: 1px solid black;
}

.border-top-dark {
    border-top: 1px solid black;
}

.border-bottom-dark {
    border-bottom: 1px solid black;
}